/* Сброс стилей начало */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Сброс стилей Конец */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #303846;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fixed {
  position: fixed;
  right: 0;
  left: 0;
  background: #ffffff;
  z-index: 10;
}

.header-fixed-panel {
  height: 60px;
}

.header-logo {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.header-logo-img img {
  width: 45px;
  height: auto;
}

.header-logo-text {
  padding-left: 10px;
  font-weight: bolder;
}

.header-nav-list {
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.header-nav-list li {
  padding: 0 15px;
}

.header-nav-list a {
  text-decoration: none;
  color: #303846;
  font-weight: bold;
}

.banner,
.form-center {
  width: 1000px;
}

.baner-section {
  position: relative;
  height: auto;
  background: url(/images/banner.png) no-repeat;
  background-position: left center;
  padding: 6% 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.baner-section-logo img {
  width: 150px;
  height: auto;
}

.baner-section-text {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.baner-section-text h1 {
  font-size: 40px;
}

.baner-section-text p {
  font-size: 18px;
}

.baner-section-button .button {
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 5px 10px;
}

.baner-section-button .button a {
  color: #ffffff;
  text-decoration: none;
}

.advantages {
  padding: 5% 0;
  width: 1000px;
  margin: 15px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.advantages-item {
  margin: 0 10px;
}

.advantages-item p {
  margin-top: 10px;
}

.dark-section {
  background: #f7f7f7;
}

.about-section {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about-section-item {
  width: 40%;
  margin: 0 50px;
}

.item-text p {
  margin-top: 10px;
}

.vacation-spots {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.vacation-spots-item {
  width: 40%;
  margin: 0 50px;
}

.item-img {
  width: 350px;
}

.form-section {
  padding: 4% 0;
}

.form-section,
.form-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset {
  width: 500px;
  padding: 25px 67px 20px 30px;
  border-color: #0bd3ad;
  margin-top: 25px;
}

legend {
  font-size: 20px;
  font-weight: bold;
  color: #0bd3ad;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select select {
  margin: 5px;
  width: 145px;
  padding: 5px 0 5px 15px;
  border-radius: 10px;
}

.select p,
.input-group-item p {
  font-weight: 600;
}

.input-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

fieldset.fieldset-input-group {
  padding-right: 30px;
}

.input-group-item {
  margin-top: 10px;
}

.input-group-item input {
  height: 30px;
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  padding: 5px 0 5px 15px;
}

.form-button {
  margin-top: 30px;
  border: 1px solid #0bd3ad;
  border-radius: 10px;
  padding: 10px 40px;
  color: #0bd3ad;
  font-weight: 600;
  cursor: pointer;
}

footer {
  padding: 5%;
  background: #303846;
  display: flex;
  align-items: start;
  justify-content: space-around;
  color: #ffffff;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

img.footer-logo-img{
  width: 45px;
  height: auto;
}

.copyright {
  margin-top: 15px;
}

.section-item-list span {
  font-size: 19px;
  font-weight: 600;
  margin-left: 15px;
}

.logo-item {
  display: flex;
  align-items: center;
}

