/* Сброс стилей начало */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Сброс стилей Конец */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #303846;
}

h1 {
  font-size: 40px;
}

h2 {
  margin-bottom: 10px;
}

:root {
  --header-indent: 60px;
}

.color-white {
  color: #ffffff;
}

.indent {
  height: var(--header-indent);
}

.header {
  padding: 0 20px;
  height: var(--header-indent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

.fixed-header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
}

.m-t-15 {
  margin-top: 15px;
}

.m-x-10 {
  margin: 0 10px;
}

.m-x-auto {
  margin: 0 auto;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45px;
}

.h-auto {
  height: auto;
}

.w-150 {
  width: 150px;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.justify-content-center {
  justify-content: center;
}

.header-logo-text {
  padding-left: 10px;
  font-weight: bolder;
}

.header-nav-list {
  padding-right: 20px;
  justify-content: space-between;
  list-style-type: none;
}

.header-nav-list li {
  padding: 0 15px;
}

.header-nav-list a {
  text-decoration: none;
  color: #303846;
  font-weight: bold;
}

.wrapper-landscape {
  background: url(/images/banner.png) no-repeat center;
  display: flex;
  justify-content: center;
}

.landscape-section {
  width: 1000px;
  background-position: left center;
  padding: 35px 0;
  color: #ffffff;
}

.landscape-section > * {
  margin-top: 20px;
  text-align: center;
}

.landscape-section > p {
  font-size: 20px;
}

.btn {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  width: 1000px;
  padding: 60px 0;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

.d-flex-center {
  display: flex;
  align-items: center;
}

.flex-d-col {
  flex-direction: column;
}

.bg-gray {
  background: #f7f7f7;
}

fieldset.main-form-fieldset {
  width: 500px;
  padding: 25px 67px 20px 30px;
  border-color: #0bd3ad;
  margin-top: 25px;
}

legend {
  font-size: 20px;
  font-weight: bold;
  color: #0bd3ad;
}

.space-between {
  justify-content: space-between;
}

.select-group select {
  margin: 5px;
  width: 145px;
  padding: 5px 0 5px 15px;
  border-radius: 10px;
}

.select-group p,
.input-group-item p {
  font-weight: 600;
}

.input-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

fieldset.fieldset-input-group {
  padding-right: 30px;
}

.input-group-item {
  margin-top: 10px;
}

.input-group-item input {
  height: 30px;
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  padding: 5px 0 5px 15px;
}

.form-button {
  margin-top: 30px;
  border-color: #0bd3ad;
  color: #0bd3ad;
  background: none;
}

.page-footer {
  background: #303846;
}

.page-footer a {
  color: #ffffff;
  text-decoration: none;
}

.page-footer a:hover {
  text-decoration: underline;
}

.section-item-list span {
  font-size: 19px;
  font-weight: 600;
  margin-left: 15px;
}
